.quote {
    position: absolute;
    left: 50%;
    top: 90%;
    transform: translate(-50%, -50%);
}

.text {
    font-size: 2em;
    color: skyblue;
    text-align: center;
}

.author {
    font-style: italic;
    font-size: 1.5em;
    color: deepskyblue;
    text-align: center;
}
